<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>About APPDETECT</h2>
    <p>
        **About AppDetect**
        AppDetect is a smart and user-friendly platform designed to help users quickly identify, 
        analyze, and understand applications with ease. Our goal is to simplify the process of app
        detection by providing accurate insights and a seamless experience for everyone—from beginners 
        to tech enthusiasts. With a clean interface and efficient functionality, AppDetect ensures that 
        users can access relevant information without confusion or delay. We are committed to continuous
        improvement, innovation, and delivering reliable results that enhance user confidence and
        productivity in the digital world.
 

    </p>
</div>

</body>
</html>